body {
background-color: cyan;
}

.ed {
width: 500px;
height: auto;
border: 5px solid black;
border-radius: 15%;
}

hr {
background-color: black;
height: 5px;
}

.1.1 {
  float: center;
}
