body {
background-color: cyan;
}

.ed {
width: 500px;
height: auto;
border: 5px solid black;
border-radius: 15%;
display: block; 
margin-left: auto; 
margin-right: auto;
}

hr {
background-color: black;
height: 5px;
}

.center {
text-align: center;
}

.lol {
width: 900px;
display: block; 
margin-left: auto; 
margin-right: auto;
text-align: center;
}

a {
font-family: Garamond, serif;
}




